
.icons{
    cursor: pointer;
    padding: 3px;
    margin: 3px;
}
.icons:hover{
    background-color:rgb(76, 142, 240);
}
.button{
    position: relative;
    bottom: 2px;
    right: 20px;
}
.home{  
    font-size: 9px;
    margin: 5px;
    padding: 5px;
    position: relative;
    top: 5px;
}
.home:hover{
    background-color:rgb(56, 122, 221);
    color: white;
    border-radius: 15px;
}
.line{
   font-size: 7px;
   background-color: rgb(56, 122, 221);
   color: white;
   margin: 3px;
   padding: 3px;
   text-align: center;
}
.head{
    text-align: center;
}
.numb{
    position: relative;
    bottom: 20px;
}
.numb1{
    position: relative;
    bottom: 30px;
}
.upcom{
    position: relative;
    top: 30px;
}
.box1{
    width: 200px;
    height: 110px;
    margin: 10px;
    display: inline-block;
    box-shadow: 2px;
    background-color: white;
    box-shadow: 5px 5px 10px 4px #d8d6d6;
}
.icon{
    text-align: center;
}
.under{
  color: darkgreen;
  position: relative;
  bottom: 30px;
}

.sidebox2{
    position: relative;
    bottom: 100px;
}
.box2{
    height: 45px;
    width: 180px;
    display: inline-block;
    margin: 5px;
    background-color: rgb(241, 242, 255);
}
.box3{
    border: darkgreen solid 2px;
    width: 150px;
    height: 100px;
    
}
.pics{
    width: 120px;
    height: 85px;
    display: inline-block;
    margin-top: 10px;
    
}
.numb1{
    color: rgb(146, 145, 145);
    font-size: 8px;
    list-style-type: none;
    margin: 5px;
    position: relative;
    right: 15px;
}
.numb2{
    font-size: 8px;
    color: rgb(146, 145, 145);
    list-style-type: none;
    position: relative;
    left: 80px;
    bottom: 115px;
}
.line0{
    position: relative;
    bottom: 110px;
    color: white;
}
.line2{
    position: relative;
    bottom: 140px;
}
.line3{
    position: relative;
    bottom: 110px;
    left: 20px;
    color: white;
}
.iconcir{
    background-color: rgb(69, 69, 226);
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    bottom: 120px;
    left: 20px;
    margin: 2px;
}
.top{
    position: relative;
    left: 670px;
    bottom: 15px;
    position: fixed;
}